In [1]:
### Homework 2 ###
#Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#read data
data = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
!wget $data

--2023-09-22 15:22:01--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: 'housing.csv.6'

housing.csv.6       100%[===================>]   1.36M  1.65MB/s    in 0.8s

2023-09-22 15:22:03 (1.65 MB/s) - 'housing.csv.6' saved [1423529/1423529]

In [3]:
#save data in df 
df = pd.read_csv(data)
df.head()
#check median house value length
print(len(df.median_house_value))

20640

In [4]:
###Preparing the dataset
#For this homework, we only want to use a subset of data.
#First, keep only the records where ocean_proximity is either '<1H OCEAN' or 'INLAND'
df.ocean_proximity.unique()
df = df[(df["ocean_proximity"]=="<1H OCEAN")|(df["ocean_proximity"]=="INLAND")]
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
701,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0,<1H OCEAN
830,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0,<1H OCEAN
859,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0,<1H OCEAN
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
861,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0,<1H OCEAN

In [5]:
#Next, use only the following columns:
    #'latitude',
    #'longitude',
    #'housing_median_age',
    #'total_rooms',
    #'total_bedrooms',
    #'population',
    #'households',
    #'median_income',
    #'median_house_value'
    #print(df.columns)
cols = ['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value']
df = df[cols]
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
701,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0
830,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0
859,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0
861,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0

In [6]:
## Question 1
#There's one feature with missing values. What is it? -> total_bedrooms
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        157
population              0
households              0
median_income           0
median_house_value      0
dtype: int64

In [7]:
## Question 2
#What's the median (50% percentile) for variable 'population'? --> 1195
df.population.median()

1195.0

In [8]:
#Prepare and split the dataset
#Shuffle the initial dataset, use seed 42.
#Split your data in train/val/test sets, with 60%/20%/20% distribution.
#Apply the log transformation to the median_house_value variable using the np.log1p() function.
n=df.shape[0]
print("number of observations", n)
n_test = int(0.2*n)
print("number of observations in test set", n_test)
n_val = int(0.2*n)
print("number of observations in validation set", n_val)
n_train = n - n_val - n_test
print("number of observations in training", n_train)
index_arr = np.arange(n)
np.random.seed(42)
np.random.shuffle(index_arr)
df_shuffeled = df.iloc[index_arr]
print("number of observations in df_shuffeled", len(df_shuffeled))

df_train = df_shuffeled.iloc[:n_train]
print("Shape of df_train:", df_train.shape)
df_val = df_shuffeled.iloc[n_train:n_train+n_val]
print("Shape of df_val:", df_val.shape)
df_test = df_shuffeled.iloc[n_train+n_val:]
print("Shape of df_test:", df_test.shape)

y_train = np.log1p(df_train.median_house_value)
print("number of observations in y_train", len(y_train))
y_val = np.log1p(df_val.median_house_value)
print("number of observations in y_val", len(y_val))
y_test = np.log1p(df_test.median_house_value)
print("number of observations in y_test", len(y_test))


X_train = df_train.drop("median_house_value", axis=1)
print("Shape of X_train:", X_train.shape)
X_val = df_val.drop("median_house_value", axis=1)
print("Shape of X_val:", X_val.shape)
X_test = df_test.drop("median_house_value", axis=1)
print("Shape of X_test:", X_test.shape)

number of observations 15687
number of observations in test set 3137
number of observations in validation set 3137
number of observations in training 9413
number of observations in df_shuffeled 15687
Shape of df_train: (9413, 9)
Shape of df_val: (3137, 9)
Shape of df_test: (3137, 9)
number of observations in y_train 9413
number of observations in y_val 3137
number of observations in y_test 3137
Shape of X_train: (9413, 8)
Shape of X_val: (3137, 8)
Shape of X_test: (3137, 8)

In [10]:
## Question 3
#We need to deal with missing values for the column from Q1.
#We have two options: fill it with 0 or with the mean of this variable.
#Try both options. For each, train a linear regression model without regularization using the code from the lessons.
#For computing the mean, use the training only!
#Use the validation dataset to evaluate the models and compare the RMSE of each option.
#Round the RMSE scores to 2 decimal digits using round(score, 2)
#Which option gives better RMSE? -> same: 0.34 RMSE both
df.isna().sum()
mean_total_bedrooms = X_train.total_bedrooms.mean()
print("mean_total_bedrooms", mean_total_bedrooms)

X_train_mean = X_train.copy()
X_train_zeros = X_train.copy()
X_train_mean.total_bedrooms = X_train_mean.total_bedrooms.fillna(mean_total_bedrooms)
X_train_zeros.total_bedrooms = X_train_zeros.total_bedrooms.fillna(0)

X_val_mean = X_val.copy()
X_val_zeros = X_val.copy()
X_val_mean.total_bedrooms = X_val_mean.total_bedrooms.fillna(mean_total_bedrooms)
X_val_zeros.total_bedrooms = X_val_zeros.total_bedrooms.fillna(0)

X_test_mean = X_test.copy()
X_test_zeros = X_test.copy()
X_test_mean.total_bedrooms = X_test_mean.total_bedrooms.fillna(mean_total_bedrooms)
X_test_zeros.total_bedrooms = X_test_zeros.total_bedrooms.fillna(0)

print("Nan's de X_train_mean")
print(X_train_mean.isna().sum())
print("X_train_mean_mean:", X_train_mean.total_bedrooms.mean())
print("X_train_mean:")
print(X_train_mean.total_bedrooms)


print("Nan's de X_train_zeros")
print(X_train_zeros.isna().sum())
print("X_train_zeros_mean:", X_train_zeros.total_bedrooms.mean())
print(X_train_zeros.total_bedrooms)
print("X_train_zeros:")

mean_total_bedrooms 542.552956325786
Nan's de X_train_mean
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64
X_train_mean_mean: 542.552956325786
X_train_mean:
19963    523.0
5929     426.0
11377    568.0
6443     609.0
17546    541.0
         ...
20157    392.0
20005    385.0
6691     147.0
3470     890.0
5498     441.0
Name: total_bedrooms, Length: 9413, dtype: float64
Nan's de X_train_zeros
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64
X_train_zeros_mean: 537.1349197917773
19963    523.0
5929     426.0
11377    568.0
6443     609.0
17546    541.0
         ...
20157    392.0
20005    385.0
6691     147.0
3470     890.0
5498     441.0
Name: total_bedrooms, Length: 9413, dtype: float64
X_train_zeros:

In [9]:
def train_linear_regression_reg(X, y, r=0.0):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    reg = r * np.eye(XTX.shape[0])
    XTX = XTX + reg

    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

def rmse (y_pred, y):
    n=len(y)
    MSE = ((y_pred - y)**2).mean()
    RMSE = np.sqrt(MSE)
    return RMSE

In [12]:
### Model Mean ###
wo, w = train_linear_regression_reg(X_train_mean, y_train)
y_pred = wo + X_val_mean.dot(w) 
RMSE_mean = rmse(y_pred, y_val)
print(np.round(RMSE_mean,2))

0.34

In [13]:
### Model Zeros ###
wo, w = train_linear_regression_reg(X_train_zeros, y_train)
y_pred = wo + X_val_zeros.dot(w) 
RMSE_zeros = rmse(y_pred, y_val)
print(np.round(RMSE_zeros,2))

0.34

In [16]:
## Question 4
#Now let's train a regularized linear regression.
#For this question, fill the NAs with 0.
#Try different values of r from this list: [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10].
r_array =  [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]
RMSE_array = []
for r in r_array:
    wo, w = train_linear_regression_reg(X_train_zeros, y_train, r)
    y_pred = wo + X_val_zeros.dot(w) 
    RMSE = rmse(y_pred, y_val)
    RMSE_array.append(RMSE) 
#Use RMSE to evaluate the model on the validation dataset.
#Round the RMSE scores to 2 decimal digits.
#Which r gives the best RMSE?
df_rmse = pd.DataFrame({"r":r_array, "RMSE":RMSE_array})
display(df_rmse)
#If there are multiple options, select the smallest r. -> 0
r=0

           r      RMSE
0   0.000000  0.340848
1   0.000001  0.340848
2   0.000100  0.340848
3   0.001000  0.340851
4   0.010000  0.340878
5   0.100000  0.341286
6   1.000000  0.344896
7   5.000000  0.347740
8  10.000000  0.348315

In [19]:
## Question 5
#We used seed 42 for splitting the data. Let's find out how selecting the seed influences our score.
#Try different seed values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9].
#For each seed, do the train/validation/test split with 60%/20%/20% distribution.
#Fill the missing values with 0 and train a model without regularization.
#For each seed, evaluate the model on the validation dataset and collect the RMSE scores.
#What's the standard deviation of all the scores? To compute the standard deviation, use np.std.
#Round the result to 3 decimal digits (round(std, 3)) -> 0.005
n=df.shape[0]
print("number of observations", n)
n_test = int(0.2*n)
print("number of observations in test set", n_test)
n_val = int(0.2*n)
print("number of observations in validation set", n_val)
n_train = n - n_val - n_test
print("number of observations in training", n_train)
index_arr = np.arange(n)

random_seed_vector = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
RMSE_array = []

for i in random_seed_vector:
    np.random.seed(i)
    np.random.shuffle(index_arr)
    df_shuffeled = df.iloc[index_arr]
    df_shuffeled = df_shuffeled.fillna(0)

    df_train = df_shuffeled.iloc[:n_train]
    df_val = df_shuffeled.iloc[n_train:n_train+n_val]
    df_test = df_shuffeled.iloc[n_train+n_val:]
    
    y_train = np.log1p(df_train.median_house_value)
    y_val = np.log1p(df_val.median_house_value)
    y_test = np.log1p(df_test.median_house_value)

    X_train = df_train.drop("median_house_value", axis=1)
    X_val = df_val.drop("median_house_value", axis=1)
    X_test = df_test.drop("median_house_value", axis=1)
    
    wo, w = train_linear_regression_reg(X_train, y_train)
    y_pred = wo + X_val.dot(w) 
    RMSE = rmse(y_pred, y_val)
    RMSE_array.append(RMSE) 

###RMSE    
print("RMSE",RMSE_array)

###STD of RMSE
std = np.std(RMSE_array)
print("std", np.round(std,3))

number of observations 15687
number of observations in test set 3137
number of observations in validation set 3137
number of observations in training 9413
RMSE [0.33773871600812017, 0.34548204505984803, 0.3322033125332842, 0.33118280913208326, 0.3348023756521366, 0.33341301847109994, 0.3325233483449182, 0.3395291337368936, 0.33080794952587994, 0.3483171344748093]
std 0.006

In [20]:
## Question 6
#Split the dataset like previously, use seed 9.
#Combine train and validation datasets.
#Fill the missing values with 0 and train a model with r=0.001.
#What's the RMSE on the test dataset? -> 0.333
np.random.seed(9)
index_arr = np.arange(n)
np.random.shuffle(index_arr)
df_shuffeled = df.iloc[index_arr]
df_shuffeled = df_shuffeled.fillna(0)

df_train = df_shuffeled.iloc[:n_train]
df_val = df_shuffeled.iloc[n_train:n_train+n_val]
df_test = df_shuffeled.iloc[n_train+n_val:]
    
y_train = np.log1p(df_train.median_house_value)
y_val = np.log1p(df_val.median_house_value)
y_test = np.log1p(df_test.median_house_value)

X_train = df_train.drop("median_house_value", axis=1)
X_val = df_val.drop("median_house_value", axis=1)
X_test = df_test.drop("median_house_value", axis=1)

X_train_full = pd.concat([X_train, X_val])
y_train_full = pd.concat([y_train, y_val])

wo, w = train_linear_regression_reg(X_train_full, y_train_full, r=0.001)
y_pred = wo + X_test.dot(w) 
RMSE = rmse(y_pred, y_test)
print("RMSE", RMSE)

RMSE 0.3349899336610939